<div class="container mt-4">
    <div class="filter-card p-4 mb-4">
        <div class="row d-flex">
            <h3 class="col-md-10 mb-3" style="font-weight: bold !important;">Order List</h3>
        </div>
        <div class="row">
            <!-- <div class="col-md-3 mb-3">
                <input type="text" class="form-control filter-input" placeholder="Search by Product" [(ngModel)]="searchTerm" />
            </div> -->
            <div class="col-md-3 mb-3">
                <input type="email" class="form-control filter-input" placeholder="Search by Address" [(ngModel)]="searchEmail" />
            </div>
            <div class="col-md-3 mb-3">
                <input type="text" class="form-control filter-input" placeholder="Search by Contact" [(ngModel)]="searchPhone" />
            </div>
            <div class="col-md-3 mb-3">
                <input type="text" class="form-control filter-input" placeholder="Search by Order ID" [(ngModel)]="searchOrderId" />
            </div>
            <div class="col-md-3 mb-3">
                <input type="text" class="form-control filter-input" placeholder="Search by Status" [(ngModel)]="searchStatus" />
            </div>
            <div class="col-md-3 mb-3">
                <input type="date" class="form-control filter-input" placeholder="Search by Date" [(ngModel)]="searchDate" />
            </div>

            <div class="col-md-3 mb-3">
                <input type="text" class="form-control filter-input" placeholder="Search by Price" [(ngModel)]="searchPrice" />
            </div>

            <div class="col-md-3" >
                <button (click)="SubscripOrders()" class="btn btn-warning">Subscriptions</button>
            </div>
        </div>

        
    </div>

    <!-- Table with Pagination -->
    <div class="table-card p-3">
        <table class="table table-hover cursor-pointer">
            <thead class="table-header">
                <tr>
                    <th>S.No</th>
                    <th>Order ID</th>
                    <!-- <th>Product</th> -->
                    <!-- <th>Quantity</th> -->
                    <th>Price</th>
                    <th>Delivery Date</th>
                    <th>Address</th>
                    <th>Zipcode</th>
                    <th>Place</th>
                    <th>Contact</th>
                    <th>Instruction</th>
                    <th *ngIf="!showSubscriptionOrders">Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            
            <tbody *ngIf="!showSubscriptionOrders">
                <tr *ngFor="let order of filteredOrders | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index">

                <!-- <tr *ngFor="let order of filteredOrders | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index" 
                    [ngClass]="{'d-none': !(order.status.toLowerCase() === 'pending' || order.status.toLowerCase() === 'cancelling')}"> -->
                    <td>{{ i + 1 + (page - 1) * itemsPerPage }}</td>
                    <td>{{ order.order_id }}</td>
                    <!-- <td>{{ order.product }}</td> -->
                    <!-- <td>{{ order.quantity }}</td> -->
                    <td>{{ order.price }}</td>
                    <td>{{ order.delivery_date | date }}</td>
                        <td>{{ order.address }}</td>
                     <!-- <td>{{ order.address }}, {{ order.zipcode }}, {{ order.ort }}</td> -->
                    <td>{{ order.zipcode }}</td>
                    <td>{{ order.ort }}</td>
                    <td>{{ order.contact }}</td>
                    <td>{{ order.instruction }}</td>
                    <td>{{ order.status }}</td>
                    <td>
                        <button (click)="updateOrderStatus(order, 'processing')" class="btn btn-warning btn-sm ml-2" style="margin-right: 5px;">
                            <i class="fa-solid fa-check"></i>
                        </button>
                        
                        <button (click)="updateOrderStatus(order, 'cancelling')" class="btn btn-danger btn-sm ml-2">
                            <i class="fa-solid fa-xmark"></i>
                        </button>

                        <button (click)="viewOrder(order.order_id)" class="btn btn-primary btn-sm ml-2">
                            <i class="fa-solid fa-eye"></i>
                        </button>
                    </td>
                </tr>
            </tbody>

            <tbody *ngIf="showSubscriptionOrders">
                <!-- <tr *ngFor="let order of subscriptionOrders | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index" 
                    [ngClass]="{'d-none': !(order.status.toLowerCase() === 'pending' || order.status.toLowerCase() === 'cancelling')}"> -->
                    <tr *ngFor="let order of subscriptionOrders | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index">

                    <td>{{ i + 1 + (page - 1) * itemsPerPage }}</td>
                    <td>{{ order.order_id }}</td>
                    <!-- <td>{{ order.product }}</td> -->
                    <!-- <td>{{ order.quantity }}</td> -->
                    <td>{{ order.price }}</td>
                    <td>{{ order.delivery_date | date }}</td>
                    <td>{{ order.address }}, {{ order.zipcode }}, {{ order.ort }}</td>
                    <td>{{ order.zipcode }}</td>
                    <td>{{ order.ort }}</td>
                    <td>{{ order.contact }}</td>
                    <td>{{ order.instruction }}</td>
                    <!-- <td>{{ order.status }}</td> -->
                    <td>
                        <button (click)="updateSubscriptionOrderStatus(order, 'processing')" class="btn btn-warning btn-sm ml-2" style="margin-right: 5px;">
                            <i class="fa-solid fa-check"></i>
                        </button>
                        
                        <!-- <button (click)="updateOrderStatus(order, 'cancelling')" class="btn btn-danger btn-sm ml-2"> -->
                        <button (click)="updateSubscriptionOrderStatus(order, 'cancelling')" class="btn btn-danger btn-sm ml-2">

                            <i class="fa-solid fa-xmark"></i>
                        </button>

                        <button (click)="viewSubOrders(order.order_id)" class="btn btn-primary btn-sm ml-2">
                            <i class="fa-solid fa-eye"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
       
            
        </table>

        <div class="pagination-controls">
            <button (click)="previousPage()" [disabled]="page === 1">Previous</button>
            <span>Page {{ page }} of {{ totalPages }}</span>
            <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
        </div>
    </div>
</div>
