<div class="container-fluid">
    <div class="header-card mb-4 mt-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="title">Coupon List</h2>
            <button class="btn add-btn" (click)="navigateToAddCoupon()">Add Coupon</button>
        </div>
        <div class="search-container">
            <input type="text" class="form-control search-input" placeholder="Search by Coupon Code or Type"
                [(ngModel)]="searchTerm">
        </div>
    </div>

    <div class="list-card">
        <table class="table custom-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Coupon Code</th>
                    <th>From Date</th>
                    <th>End Date</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let coupon of filteredCoupons; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ coupon.couponcode }}</td>
                    <td>{{ coupon.from_date | date:'dd-MM-yyyy' }}</td>
                    <td>{{ coupon.end_date | date:'dd-MM-yyyy' }}</td>
                    <td class="text-center">
                        <button class="btn btn-action edit-btn me-2" (click)="onEdit(coupon)">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button class="btn btn-action delete-btn" (click)="onDelete(coupon.id)">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="filteredCoupons.length === 0">
                    <td colspan="5" class="text-center">No coupons found.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>