<div class="login-container">
  <div class="login-card">
    <!-- Logo Section -->
    <div class="login-logo-section">
      <img src="../../../../assets/images/logo.png" alt="Frisch für Sie" class="logo-img">
    </div>

    <!-- Form Section -->
    <div class="login-form-section">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1>Admin Login</h1>
        <p>Welcome back! Please login to your account.</p>
        
        <div class="input-group">
          <input cFormControl 
                 placeholder="Username" 
                 formControlName="email"
                 class="custom-input"
                 [ngClass]="{'is-invalid': usernameError}"/>
          <div *ngIf="usernameError" class="text-danger small mt-2 ms-1">
            <i class="fa fa-exclamation-circle me-1"></i> Username is required.
          </div>
        </div>

        <div class="input-group">
           <input cFormControl 
                  placeholder="Password" 
                  type="password" 
                  formControlName="password"
                  class="custom-input"
                  [ngClass]="{'is-invalid': passwordError}" />
           <div *ngIf="passwordError" class="text-danger small mt-2 ms-1">
             <i class="fa fa-exclamation-circle me-1"></i> Password is required.
           </div>
        </div>

        <button type="submit" class="btn-login">
          Sign In
        </button>
        
        <div class="copyright">
             &copy; 2026 Frisch für Sie. All rights reserved.
        </div>
      </form>
    </div>
  </div>
</div>
